<ion-view view-title="Your account Information">
    <ion-content>
        <div id="account_label">
            <ion-list>


                <ion-item>
                    Name: Tom
                </ion-item>
                 <ion-item>
                    First Name: Billgates 
                </ion-item>
                 <ion-item>
                    Account: BE45 6514 6154 1712 
                </ion-item>
                 <ion-item>
                    Sold: 23456,50 €
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
