<ion-view cache-view="false" view-title="Confirm Event" ng-controller="EventCtrl">
 
    <ion-nav-bar class="nav-bar">
        <ion-nav-back-button class="button nav-icon">
            Event
        </ion-nav-back-button> 
    </ion-nav-bar>
    
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-checkmark-round nav-icon" ng-click="insertEvent()">
        </button>
    </ion-nav-buttons>
    
    <ion-content>

        <div class="card">
            <div class="item item-divider">
                Event overview
            </div>
            <div class="item item-text-wrap">
                
            </div>
        </div>
        
        
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Make a big smile for confirmation ! :D</h2>
            </div>
        </div>

    </ion-content>    
</ion-view>
