<ion-view cache-view="false" view-title="Settings">   


    <ion-content ng-controller="EventCtrl">

        <div class="bar bar-header bar-light">
            <h1 id="hello" class="title">Event details </h1>
        </div>
        <br/><br/>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>

        <ion-list>
            <ion-item ng-repeat=" item in transaction">
                <h2>{{item.PartyId}}  : {{item.Amount}} €</h2>
            </ion-item>
        </ion-list>
    </ion-content>  
</ion-view>