<ion-view view-title="Home" ng-controller="AppCtrl">
    <ion-content>

        <div class="bar bar-header bar-light">
            <h1 class="title">Hello Marty ! </h1>
        </div>
        <br/><br/><br/>    
        <div class="row responsive-sm">
            <img class="profile-picture home-picture col-center center" src="http://ionicframework.com/img/docs/mcfly.jpg" />  
        </div>
        <br/>  
        <a href="#" class="item item-icon-left">
            <i class="icon ion-card"></i>
            Balance : <b>150 €</b>
        </a>

        <div class="row responsive-sm col">
            <div class="card">
                <div class="item item-divider">
                    My current events
                </div>
                <div class="item item-text-wrap">
                    Event 1 - 4 members - 200€
                </div>
                <div class="item item-text-wrap">
                    Event 2 - 3 members - 200€
                </div>
                <div class="item item-text-wrap">
                    Event 3 - 7 members - 200€
                </div>
            </div>
        </div>
        <div class="row responsive-sm col">
            <button class="button button-postitive" ng-click="eventNotif()">
                Notif
            </button>
        </div>
    </ion-content>
</ion-view>