<ion-view view-title="Home" cache-view="false" ng-controller="AppCtrl">
    <ion-content>

        <div class="bar bar-header bar-light">
            <h1 id="hello" class="title">Hello Marty ! </h1>
        </div>
        <br/><br/><br/>    
        <div class="row responsive-sm">
            <img class="profile-picture home-picture col-center center" src="http://ionicframework.com/img/docs/mcfly.jpg" />  
        </div>
        <br/>  
        <a href="#" id="balance" class="item item-icon-left">
            <i class="icon ion-card">
            My Balance : <b> 150 €</b></i>
        </a>

        <div class="row responsive-sm col">
            <div class="card">
                <div class="item item-divider">
                    My current events
                </div>
                <div class="item item-text-wrap">
                    Amusement Park - 4 members - 150€
                </div>
                <div class="item item-text-wrap">
                    Restaurant - 3 members - 50€
                </div>
                <div class="item item-text-wrap">
                    Holidays @Mt. Blanc - 7 members - 700€
                </div>
            </div>
        </div>
        
        <div class="row responsive-sm col">
            <div class="card">
                <div class="item item-divider">
                    Pending events
                </div>
                <div class="item item-text-wrap">
                    St. Patrick @Pub - 3/4 members - 200€
                </div>
                <div class="item item-text-wrap">
                   Going back to the future - 1/3 members - 200€
                </div>
            </div>
        </div>
        
        <div class="row responsive-sm col">
            <button class="button button-postitive" ng-click="eventNotif()">
                Notif
            </button>
        </div>
    </ion-content>
</ion-view>
