<ion-view view-title="Home">
    <ion-content>

        <div class="bar bar-header bar-light">
            <h1 class="title">Hello Marty ! </h1>
        </div>
        <br/><br/><br/>    
        <div class="row responsive-sm">
            <img class="profile-picture home-picture col-center" style="width:50%" src="http://ionicframework.com/img/docs/mcfly.jpg" />  
        </div>
        <div class="row responsive-sm">
            <div class="col">Balance : <b>1500€</b></div>
        </div>

        <div class="row responsive-sm col">
            <div class="card">
                <div class="item item-divider">
                    My current events
                </div>
                <div class="item item-text-wrap">
                    Event 1 - 4 members - 200€
                </div>
                <div class="item item-text-wrap">
                    Event 2 - 3 members - 200€
                </div>
                <div class="item item-text-wrap">
                    Event 3 - 7 members - 200€
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>