ion-view{
    background-image:url(../img/lion3.jpg);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:rgb(212, 86, 1)
}
.bar.bar-profile {
    background-color: #FF6600;
    height: 170px;
}

.bar .profile {
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-top: 15px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profile .name {
    color: #FFFFFF;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.profile-picture {
    border-radius: 50%;
}

div.bar.bar-header.bar-light{
    background-color: transparent;
    border: none;
}

.menu .has-header
{
    top: 169px;
}

.item-complex .item-content, .item-radio .item-content {
    background-color: transparent;
}

.nav-bar{
    color : white;
    background-color:#FF6600;
}

.nav-icon{
    color : white;
    background-color:#FF6600;
}

#balance{
    background-color: transparent;
    border: none;
    color: black;
}
#balance > i{
    font-size: 19px;
}

div.item.item-divider{
    background-color: wheat;
}

ion-item.item.item-complex > a, ion-item.item {
    background-color: #FF6600 !important;
}

#hello{
    background-color: wheat;
}